<div class="column is-one-quarter">
    <nav class="panel">
        <p class="panel-heading">
            Trendings mundiales
        </p>

        <a class="panel-block">
            ¿Sumeru 3.0?
        </a>

        <a class="panel-block">
            Amber merece cadena perpetua
        </a>

        <a class="panel-block">
            Se retrasa genshin 2.7 debido a c-19 en Shangai, China
        </a>
        
        <a class="panel-block">
            Los huevos no son tuyos, son de ella
        </a>

        <a class="panel-block">
            Ooohhh me vengo
        </a>

        <a class="panel-block">
            Tercera temporada de Mushoku Tensei: fecha y hora
        </a>

    </nav>  

</div>

