<tr>
<td> <%= tweeet.tweeet %></td>
<td> <%= link_to "Mostrar tweet", tweeet %></td>
<td> <%= link_to "Editar", edit_tweeet_path(tweeet) %></td>
<td> <%= link_to "Eliminar", tweeet, method: :destroy, data: { confirm: "Estas seguro mi bra?"} %></td>
</tr>



