<div class="column is-one-quarter ">
    <nav class="panel is-info">
        <p class="panel-heading">
            Who To Follow
        </p>
    <nav class="panel-block">
        <div class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.redd.it%2Faxsjk4gybaz31.png&f=1&nofb=1" style="height:64px;" alt="profile">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Anya Forger</strong>
                        <small>@smug_face</small>

                    </p>
                </div>
                <button class="is-inverted btn-hover-info button"  style=" width: 150px ;border-color:rgb(62,142,208); border-radius:45px">
                    <strong>    Follow    </strong>
                </button>
            </div>
        </div>
    </nav>

    <nav class="panel-block">
        <div class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src="https://www.smitefire.com/images/god/icon/ra.png" style="height:64px;" alt="profile">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Smite Ra</strong>
                        <small>@fandefaragod</small>

                    </p>
                </div>
                <button class="is-inverted btn-hover-info button"  style=" width: 150px ;border-color:rgb(62,142,208); border-radius:45px">
                    <strong>    Follow    </strong>
                </button>
            </div>
        </div>
    </nav>

    <nav class="panel-block">
        <div class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.parisfans.fr%2Fwp-content%2Fuploads%2F2018%2F03%2FCristiano-Ronaldo.jpg&f=1&nofb=1" style="height:64px;" alt="profile">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Cristiano Ronaldo</strong>
                        <small>@elbicho</small>

                    </p>
                </div>
                <button class="is-inverted btn-hover-info button"  style="width: 150px ;border-color:rgb(62,142,208); border-radius:45px">
                    <strong>    Follow    </strong>
                </button>
            </div>
        </div>
    </nav>

    <nav class="panel-block">
        <div class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2Fc7%2F6f%2F33%2Fc76f337f4e673e0c0cc27869745918a3.jpg&f=1&nofb=1" style="height:64px;" alt="profile">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Fischl</strong>
                        <small>@imnotamy</small>

                    </p>
                </div>
                <button class="is-inverted btn-hover-info button"  style=" width: 150px ;border-color:rgb(62,142,208); border-radius:45px">
                    <strong>    Follow    </strong>
                </button>
            </div>
        </div>
    </nav>  

    <nav class="panel-block">
        <div class="media">
            <div class="media-left">
                <figure class="image is-32x32">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload-os-bbs.hoyolab.com%2Fupload%2F2021%2F02%2F14%2F83259553%2F35998c7b9e6008092948ce0fe97fd6e7_708192978579664538.png%3Fx-oss-process%3Dimage%2Fresize%2Cs_740%2Fquality%2Cq_80%2Fauto-orient%2C0%2Finterlace%2C1%2Fformat%2Cpng&f=1&nofb=1" style="height:32px;" alt="profile">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Encuentra gente que conozcas</strong>
                    </p>
                    <p>
                        <small>Busca perfiles de tus amigos.</small>
                    </p>
                    
                </div>
            </div>
        </div>
    </nav>  



</div>